VITE_BALANCA_URL=http://localhost:4000/peso

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsc2VudnhicXZ1dXh4Z3l2amx5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMTY1OTEsImV4cCI6MjA3MTg5MjU5MX0.-XrxrhuSEa1Lzcpykg01fK0LoYJ6Us6DhpLmR4GH-jI
VITE_SUPABASE_URL=https://clsenvxbqvuuxxgyvjly.supabase.co